* {
    margin: 0;
    padding: 0;
}
body, html {
    width: 100%;
    height: 100%;
    /*transform: scale(.8);*/
}
.head ul {
    list-style: none;
    width:100%;
    height:50px;
    background-color: black;
    opacity: .8;
    line-height: 50px;
    position: fixed;
    z-index: 1039;
}
.head ul li:nth-child(1) {
    height:50px;
    float: left;
    margin: 0 100px;
}
.head ul li:nth-child(2) {
    width: auto;
    height: 50px;
    float: left;
    font-size: 20px;
    word-spacing: 1px;
    text-align: center;
    color: ghostwhite;
    position: absolute;
    -webkit-text-stroke-width: .5px;
    left: 0; top: 0; right: 0; bottom: 0;
    margin: auto;
    font-family: cursive;
}
.head ul li:nth-child(3), .head ul li:nth-child(4) {
    height:50px;
    float: right;
    margin: 0 30px;
}
.head ul li a {
    text-decoration: none;
    color: ghostwhite;
}
.mainbackground {
    width: 100%;
    height: 100%;
    position: fixed;
    background-size: cover;
    background-image: url("./img/1475214883481.jpg");
}
.main {
    /*border-top: 5px solid black;*/
    position: absolute;
    top: 100%;
    width: 100%;
    height: 3000px;
    background-color: white;
    opacity: .1;
}
.maincontainer-articles {
    width: 100%;
    height: 800px;
    /*border: 1px solid black;*/
    margin: 0px auto;
    overflow: hidden;
}
.maincontainer-articles .title ul, .maincontainer-categories .title ul {
    width: auto;
    height: auto;
    list-style: none;
    /*position: absolute;*/
    /*opacity: .8;*/
    margin: 0px auto;
    text-align: center;
    z-index: 5;
}
.maincontainer-articles .title ul li:nth-child(1) {
    font-size: 119px;
    font-weight: 900;
    font-family: "Arial Black";
    opacity: .3;
    color: #444444;
    /*background-color: #1d3e81;*/
}
.maincontainer-categories .title ul li:nth-child(1) {
    font-size: 100px;
    font-weight: 900;
    font-family: "Arial Black";
    opacity: .5;
    color: gray;
    /*background-color: #1d3e81;*/
}
.maincontainer-articles .title ul li:nth-child(2)  {
    font-size: 32px;
    margin-top: -92px;
    font-family: "Bodoni MT Black";
    color: #444444;
}
.maincontainer-categories .title ul li:nth-child(2) {
    font-size: 32px;
    margin-top: -73.6px;
    font-family: "Bodoni MT Black";
    opacity: .9;
    color: #444444;
    /*background-color: #1d3e81;*/
}
.maincontainer-articles .title ul li:nth-child(3), .maincontainer-categories .title ul li:nth-child(3) {
    margin-top: 32px;
    font-size: 10px;
    color: #444444;
    font-weight: 800;
    opacity: .9;
    font-family: "Bodoni MT Black";
}
.maincontainer-articles .title ul li:nth-child(4) {
    width: 30px;
    height: 6px;
    background-color: red;
    margin: -49.6px auto;
}
.maincontainer-categories .title ul li:nth-child(4) {
    width: 24px;
    height: 4px;
    background-color: red;
    margin: -45.6px auto;
}
.maincontainer-categories {
    width: 100%;
    height: 2500px;
    margin: -64px auto;
    overflow: hidden;
    background-color: white;
    /*padding-top: 100px;*/
}
/*.maincontainer-categories .title {*/
    /*!*margin-top: -157px;*!*/
    /*z-index: 2;*/
    /*width: auto;*/
    /*height: auto;*/
/*}*/
.maincontainer-categories .ca-main ul:nth-child(1) li {
    list-style: none;
    width: 20%;
    height: 20vw;
    /*border: 1px solid black;*/
    float: left;
    margin-top: 120px;
    background-color: #63a35c;
}
.maincontainer-categories .ca-main ul:nth-child(2) li, .maincontainer-categories .ca-main ul:nth-child(3) li {
    width: 20%;
    height: 20vw;
    list-style: none;
    /*border: 1px solid black;*/
    float: left;
    margin-top: 0;
    background-color: #63a35c;
}
img {
    width: 100%;
    height: 100%;
}
.maincontainer-categories .ca-main ul:nth-child(1) li:nth-child(2) {
    background-color: indianred;
}
.maincontainer-categories .ca-main ul:nth-child(1) li:nth-child(4) {
    background-color: yellow;
}
.maincontainer-categories .ca-main ul:nth-child(2) li:nth-child(5) {
    background-color: indigo;
}
.maincontainer-categories .ca-main ul:nth-child(2) li:nth-child(2) {
    background-color: dodgerblue;
}

