* {
    margin: 0;
    padding: 0;
}
body, html {
    width: 100%;
    height: 100%;
    /*transform: scale(.8);*/
}
.head ul {
    list-style: none;
    width:100%;
    height:50px;
    background-color: #555555;
    opacity: .7;
    line-height: 50px;
    position: fixed;
    z-index: 1039;
}
.head span{
    list-style: none;
    width:100%;
    height:50px;
    background-color: #555555;
    opacity: .7;
    line-height: 50px;
    position: fixed;
    z-index: 1039;
    color: ghostwhite;
    /*margin-left: 100px;*/
}
.head span i {
    font-size: 25px;
}
.head .headmenu {
    width: 100%;
    display: none;
    margin-top: -10px;
    background-color: #555555;
    /*opacity: .7;*/
}
.head ul li:nth-child(1) {
    height:50px;
    float: left;
    margin: 0 100px;
}
.head ul li:nth-child(2) {
    color: white;
    width: auto;
    height: 50px;
    float: left;
    font-size: 20px;
    word-spacing: 1px;
    text-align: center;
    /*color: ghostwhite;*/
    position: absolute;
    /*-webkit-text-stroke-width: .5px;*/
    left: 0; top: 0; right: 0; bottom: 0;
    margin: auto;
    font-family: cursive;
    z-index: -10;
}
.head ul li:nth-child(3), .head ul li:nth-child(4) {
    height:50px;
    float: right;
    margin: 0 30px;
}
.head ul li a {
    text-decoration: none;
    color: ghostwhite;
    transition: .5s ease-in-out;
}
.head ul li a:hover {
    margin: 3px;
    /*color: white;*/
    /*color: #a71d5d;*/
    /*font-size: 18px;*/
}
.mainbackground {
    margin: 0;
    padding: 0;
    /*background:linear-gradient(360deg, #e56420, #37bbde);*/
    overflow: hidden;
    background-color: blanchedalmond;
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-blend-mode: hard-light;
    animation: hue-rotate 10s linear infinite;
    /*width: 100%;*/
    /*height: 100%;*/
    position: fixed;
    /*background-size: 100% 100%;*/
    /*background-image: url("./img/download.jpg");*/
}
@keyframes hue-rotate {
    from {
        -webkit-filter: hue-rotate(0deg);
        -moz-filter: hue-rotate(0deg);
        -ms-filter: hue-rotate(0deg);
        filter: hue-rotate(0deg);
    }
    to {
        -webkit-filter: hue-rotate(360deg);
        -moz-filter: hue-rotate(360deg);
        -ms-filter: hue-rotate(360deg);
        filter: hue-rotate(360deg);
    }
}
.main {
    /*border-top: 5px solid black;*/
    position: absolute;
    top: 100%;
    width: 100%;
    height: 3000px;
    background-color: white;
    opacity: .1;
}
.maincontainer-categories .ca-main {
    width: 100%;
    /*float: left;*/
}
.maincontainer-categories .ba-main {
    width: 50%;
    height: 681px;
    float: right;
    /*background-image: url("./img/4f6c1a71e655255b4193dfa2c318e101 (1).jpg");*/
    /*background-size: auto;*/
}
.maincontainer-articles {
    width: 100%;
    height: 1000px;
    /*border: 1px solid black;*/
    margin: 0px auto;
    overflow: hidden;
}
.maincontainer-articles .title ul, .maincontainer-categories .title ul {
    width: auto;
    height: auto;
    list-style: none;
    /*position: absolute;*/
    /*opacity: .8;*/
    margin: 0px auto;
    text-align: center;
    z-index: 5;
}
.maincontainer-articles .title ul li:nth-child(1) {
    font-size: 119px;
    font-weight: 900;
    font-family: "Arial Black";
    opacity: .3;
    color: #444444;
    /*background-color: #1d3e81;*/
}
.maincontainer-categories .title ul li:nth-child(1) {
    font-size: 100px;
    font-weight: 900;
    font-family: "Arial Black";
    opacity: .5;
    color: gray;
    /*background-color: #1d3e81;*/
}
.maincontainer-articles .title ul li:nth-child(2)  {
    font-size: 32px;
    margin-top: -92px;
    font-family: "Bodoni MT Black";
    color: #444444;
}
.maincontainer-categories .title ul li:nth-child(2) {
    font-size: 32px;
    margin-top: -73.6px;
    font-family: "Bodoni MT Black";
    opacity: .9;
    color: #444444;
    /*background-color: #1d3e81;*/
}
.maincontainer-articles .title ul li:nth-child(3), .maincontainer-categories .title ul li:nth-child(3) {
    margin-top: 32px;
    font-size: 10px;
    color: #444444;
    font-weight: 800;
    opacity: .9;
    font-family: "Bodoni MT Black";
}
.maincontainer-articles .title ul li:nth-child(4) {
    width: 30px;
    height: 6px;
    background-color: red;
    margin: -49.6px auto;
}
.maincontainer-categories .title ul li:nth-child(4) {
    width: 24px;
    height: 4px;
    background-color: red;
    margin: -45.6px auto;
}
.maincontainer-categories {
    width: 100%;
    height: 2500px;
    margin: -64px auto;
    overflow: hidden;
    background-color: white;
    /*padding-top: 100px;*/
}
/*.maincontainer-categories .title {*/
    /*!*margin-top: -157px;*!*/
    /*z-index: 2;*/
    /*width: auto;*/
    /*height: auto;*/
/*}*/
.maincontainer-categories .ca-main ul:nth-child(1) li {
    list-style: none;
    width: 25%;
    height: 25vw;
    /*border: 1px solid black;*/
    float: left;
    margin-top: 120px;
    background-color: #63a35c;
    overflow: hidden;
    /*position: relative;*/
}
/*.maincontainer-categories .ca-main ul:nth-child(1) li::before {*/
    /*position: absolute;*/
    /*background-color: #55a532;*/
    /*opacity: .5;*/
    /*content: "sfdds";*/
    /*width: 16.66666666666666%;*/
    /*height: 16.6666666666666vw;*/
    /*display: none;*/
    /*!*z-index: -1;*!*/
/*}*/
.maincontainer-categories .ca-main ul:nth-child(1) li span {
    display: block;
    width: 25%;
    height: 25vw;
    background-color: #55a532;
    /*content: "dfdsfsdf";*/
    z-index: 7;
    position: absolute;
}
/*.maincontainer-categories .ca-main ul:nth-child(1) li:hover::before {*/
    /*display: block;*/
    /*z-index: 2;*/
/*}*/

.maincontainer-categories .ca-main ul:nth-child(2) li, .maincontainer-categories .ca-main ul:nth-child(3) li, .maincontainer-categories .ca-main ul:nth-child(4) li, .maincontainer-categories .ca-main ul:nth-child(5) li, .maincontainer-categories .ca-main ul:nth-child(6) li {
    width: 25%;
    height: 25vw;
    list-style: none;
    /*border: 1px solid black;*/
    float: left;
    margin-top: 0;
    background-color: #63a35c;
    overflow: hidden;
}
.ca-main img {
    /*transform: scale(2,2);*/
    /*width: 100%;*/
    height: 100%;
    transition: .2s ease-in-out;
    z-index: 8;
    opacity: 1;
    /*position: absolute;*/
    /*left: 50%;*/
    /*margin-left: -155px;*/
}
/*.ca-main div:hover .ca-main ul li img{*/
    /*!*background-color: #693a17;*!*/
    /*transform: scale(2,2);*/
/*}*/
/*.ca-main img:hover li {*/
    /*z-index: 5;*/
    /*background-color: #55a532;*/
/*}*/
/*.ca-main span {*/
    /*overflow: hidden;*/
/*}*/
/*.maincontainer-categories .ca-main ul:nth-child(1) li:nth-child(2) {*/
    /*background-color: indianred;*/
/*}*/
/*.maincontainer-categories .ca-main ul:nth-child(1) li:nth-child(4) {*/
    /*background-color: yellow;*/
/*}*/
/*.maincontainer-categories .ca-main ul:nth-child(2) li:nth-child(5) {*/
    /*background-color: indigo;*/
/*}*/
/*.maincontainer-categories .ca-main ul:nth-child(2) li:nth-child(2) {*/
    /*background-color: dodgerblue;*/
/*}*/
.ca-main  .album{
    transform: scale(2,2);
    position: absolute;
    width: 12.5%;
    height: 12.5vw;
    /*background-color: #a71d5d;*/
    opacity: 0;
    z-index: 100;
    margin: 6.31%;
    transition: .2s ease-in-out;
    text-align: center;
    /*line-height: 122px;*/
    font-size: 20px;
    /*vertical-align: middle;*/
    /*display: none;*/
    /*visibility: hidden;*/

}
/*.ca-main ul li:hover div {*/
    /*display: block;*/
/*}*/
.current {
    transform: scale(2,2);
    position: absolute;
    width: 12.5%;
    height: 12.5vw;
    /*background-color: #a71d5d;*/
    /*opacity: .7;*/
    z-index: 100;
    margin: 6.31%;
    transition: .2s ease-in-out;
    text-align: center;
    /*line-height: 122px;*/
    font-size: 10px;
    background-color: rgba(28,28,28,.7)
    /*display: block;*/
}
.ca-main p{
    width:100%;
    margin-top: 49%;
    height:auto;
    vertical-align: middle;
    color: #707070;
}